<nz-layout class="layout" [style.padding-left.px]="isCollapsed ? 80 : 200">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" class="slider">
    <div class="avatar-container">
      <nz-avatar [ngStyle]="{'background-color':socket.user.avatarColor}" [nzText]="socket.user.avatarText" nzSize="large"></nz-avatar>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" style="line-height: 64px;">
      <!-- <li nz-menu-item>{{ isCollapsed ? "房间" : "房间列表"}}</li> -->
      <!-- <li nz-menu-item>{{ isCollapsed ? "关于" : "关于项目"}}</li> -->
      <li nz-menu-item (click)="socket.cleanUser()">{{ isCollapsed ? "切换" : "切换身份"}}</li>
      <li nz-menu-item>
        <nz-divider></nz-divider>
      </li>
      <div class="song-container">
        <li [nzTitle]="song.artist + ' - '  + song.album" nzPlacement="right" nz-tooltip nz-menu-item *ngFor="let song of socket.activeSongs;">
          {{ song.name }}
        </li>
      </div>


    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="header">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
      <span *ngIf="socket.playingSong">正在播放：{{socket.playingSong.name}}</span>
      <div class="header-menu">
        <ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;">
          <li nz-menu-item>
            <label nz-checkbox [(ngModel)]="showSearch">
              搜索
            </label>
          </li>

          <li (click)="socket.nextSong()" nz-menu-item>
            <i class="anticon anticon-step-forward"></i>切歌
          </li>

          <li (click)="mute('mute')" nz-menu-item>
            <i [class.mute]="socket.mute" class="anticon anticon-sound"></i>{{ socket.mute ? '恢复' : '静音'}}
          </li>

          <li (click)="mute('muteOnce')" nz-menu-item>
            <i [class.mute]="socket.muteOnce" class="anticon anticon-sound"></i>{{ socket.muteOnce ? '恢复' : '单曲静音'}}
          </li>
        </ul>
      </div>
    </nz-header>
    <app-player [mute]="socket.mute || socket.muteOnce" [playTime]="socket.playingSong.playTime" [url]="socket.playingSong.url"
      *ngIf="socket.playingSong && socket.inited"></app-player>
    <nz-content class="content-wrapper">
      <!-- <h2 class="title">房间名</h2>
      <p>介绍</p> -->

      <div class="users">
        <nz-avatar *ngFor="let user of socket.onlineUser;" class="users-avator" [ngStyle]="{'background-color':user.avatarColor}"
          [nzText]="user.avatarText"></nz-avatar>
      </div>

      <div *ngIf="showSearch">
        <div class="search">
          <div class="search-input">
            <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
              <input type="text" (keyup.enter)="onSearch()" nz-input [(ngModel)]="keyword" placeholder="歌名/歌手/专辑">
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" nzSearch (click)="onSearch()">
                <i class="anticon anticon-search"></i>
              </button>
            </ng-template>
          </div>
        </div>
        <div *ngFor="let music of list;" class="list">
          <nz-card (click)="select(music)" [nzTitle]="music.name" class="list-card">
            <nz-card-meta [nzTitle]="music.artist" [nzDescription]="music.album"></nz-card-meta>
          </nz-card>
        </div>
        <nz-pagination class="pagination" (nzPageIndexChange)="choosePage($event)" [nzPageIndex]="page" [nzPageSize]="pageSize" [nzHideOnSinglePage]="true"
          [nzTotal]="songCounts"></nz-pagination>
      </div>

      <div class="content">Content</div>
    </nz-content>
    <nz-footer style="text-align: center; ">SJTU SOCKET-MUSIC ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i class="anticon anticon-up "></i>
</ng-template>