<nz-layout class="layout">
  <nz-header class="header">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" class="header-list">
      <li nz-menu-item>房间列表</li>
      <li nz-menu-item>关于</li>
      <li nz-menu-item class="right">
        <nz-avatar [nzText]="name" nzSize="large" [ngStyle]="{'background-color':color}" style="vertical-align: middle;"></nz-avatar>
      </li>
      <li nz-menu-item class="right">
        正在播放：
        <span>123132</span>
      </li>
    </ul>
  </nz-header>
  <router-outlet></router-outlet>
  <nz-footer style="text-align: center">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>